/* Transitions | Changement d'état unique | Action nécessaire du client pour la déclencher */

body {
  background: #ccc;
}

.box {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: white;
}
